<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Contrller</servlet-name>
        <servlet-class>controller.user.Contrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>controller.user.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <servlet-class>controller.Google.GoogleSignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneList</servlet-name>
        <servlet-class>controller.milestone.MilestoneList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneDetail</servlet-name>
        <servlet-class>controller.milestone.MilestoneDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPassword</servlet-name>
        <servlet-class>controller.user.forgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAssignmentByFilter</servlet-name>
        <servlet-class>controller.assignment.AssignmentListByFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newMilestone</servlet-name>
        <servlet-class>controller.milestone.newMilestone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAssignment</servlet-name>
        <servlet-class>controller.milestone.loadAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveSchedule</servlet-name>
        <servlet-class>controller.schedule.ActiveSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateSchedule</servlet-name>
        <servlet-class>controller.schedule.DeactivateSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleList</servlet-name>
        <servlet-class>controller.schedule.ScheduleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statusSchedule</servlet-name>
        <servlet-class>controller.schedule.statusSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleListSearchByClass</servlet-name>
        <servlet-class>controller.schedule.ScheduleListSearchByClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newSchedule</servlet-name>
        <servlet-class>controller.schedule.newSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDetails</servlet-name>
        <servlet-class>controller.schedule.ScheduleDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teamList</servlet-name>
        <servlet-class>controller.team.teamList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <url-pattern>/GoogleSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>controller.user.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>controller.user.userProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contrller</servlet-name>
        <url-pattern>/Contrller</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.user.changePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>controller.setting.SettingList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/admin/settinglist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingListFilterByStatus</servlet-name>
        <servlet-class>controller.setting.SettingListByFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListFilterByStatus</servlet-name>
        <url-pattern>/admin/filterstatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingListSearchByTittle</servlet-name>
        <servlet-class>controller.setting.SettingListSearchByTittle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListSearchByTittle</servlet-name>
        <url-pattern>/admin/settingtistsearchbytittle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingDetails</servlet-name>
        <servlet-class>controller.setting.SettingDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingDetails</servlet-name>
        <url-pattern>/admin/settingdetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateSetting</servlet-name>
        <servlet-class>controller.setting.ActivateSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateSetting</servlet-name>
        <servlet-class>controller.setting.DeactivateSetting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateSetting</servlet-name>
        <url-pattern>/admin/updatestatusactivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateSetting</servlet-name>
        <url-pattern>/admin/updatestatusdeactivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPassword</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAssignmentByFilter</servlet-name>
        <url-pattern>/admin/listassignmentbyfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneList</servlet-name>
        <url-pattern>/trainer/MilestoneList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneDetail</servlet-name>
        <url-pattern>/trainer/MilestoneDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newMilestone</servlet-name>
        <url-pattern>/trainer/newMilestone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAssignment</servlet-name>
        <url-pattern>/loadAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveSchedule</servlet-name>
        <url-pattern>/activeschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateSchedule</servlet-name>
        <url-pattern>/deactiveschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleList</servlet-name>
        <url-pattern>/supporter/ScheduleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusSchedule</servlet-name>
        <url-pattern>/supporter/statusSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleListSearchByClass</servlet-name>
        <url-pattern>/supporter/ScheduleListSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newSchedule</servlet-name>
        <url-pattern>/supporter/newSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teamList</servlet-name>
        <url-pattern>/trainer/teamList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDetails</servlet-name>
        <url-pattern>/supporter/ScheduleDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
